# Generating statistics for each experiment

## Preparing the workspace

### Importing libraries

In [1]:
from eval_utils import *
%load_ext autoreload
%aimport eval_utils

### Defining the file paths

#### Experiments and variations

In [2]:
eval_methods = ['base', 'tOBT','tABT']
experiments = ['FF', 'FT', 'TF', 'TT']

#### Evaluation results paths

In [3]:
results_dir = "/Users/duculet/Thesis/NewWork/RecommenderServer/evalsets/lim_100/"
stats_dir = "/Users/duculet/Thesis/NewWork/RecommenderServer/evaluation/python/statistics/general/"

in_paths = generate_paths(results_dir, eval_methods, experiments)

### Function setup

In [4]:
def run_experiment(eval_method: str, experiment: str):
    # Setup paths and naming conventions
    name = eval_method + "_" + experiment
    in_path = in_paths[eval_method][experiment]

    # Generate models
    models = generate_models(in_path, filelimit = 0, mintrans = 0, verbose = True)
    # exclude irrelevant models
    excluded = ['P1855', 'P5192']
    models_kept = [model for model in models if model.model_id not in excluded]

    # Generate statistics
    statistics = get_models_simple_stats(models_kept)
    df_stats = pd.DataFrame(statistics).transpose()

    # Save statistics
    df_stats.to_csv(stats_dir + name + "_stats.csv", index = False)
    
    # Display statistics
    print(name)
    display(df_stats)
    print()

    # Free up memory
    del models
    del models_kept
    del statistics
    del df_stats

## Running experiments

In [5]:
for experiment in experiments:
    for eval_method in eval_methods:
        run_experiment(eval_method, experiment)

Processing files: 100%|██████████| 1060/1060 [04:13<00:00,  4.17it/s]

1060 models generated
base_FF

     Mean  Median  StdDev     Top1     Top5    Top10  Missing  Duration
0  1.8298  1.4887   1.138  70.7192  96.2196  98.6489    0.003    0.0065

Processing files: 100%|██████████| 1060/1060 [04:11<00:00,  4.21it/s]

1060 models generated
tOBT_FF

     Mean  Median  StdDev     Top1     Top5    Top10  Missing  Duration
0  5.1816  3.1143  7.0066  52.6749  77.4949  87.8853    0.003    0.0092

Processing files: 100%|██████████| 1060/1060 [04:17<00:00,  4.12it/s]

1060 models generated
tABT_FF

     Mean  Median  StdDev     Top1     Top5    Top10  Missing  Duration
0  1.8298  1.4887   1.138  70.7192  96.2196  98.6489    0.003    0.0074

Processing files: 100%|██████████| 1061/1061 [04:17<00:00,  4.12it/s]

1061 models generated
base_FT

   Mean  Median  StdDev     Top1     Top5    Top10  Missing  Duration
0  1.83  1.4926  1.1357  70.6794  96.1983  98.6397   0.0031    0.0166

Processing files: 100%|██████████| 1061/1061 [04:30<00:00,  3.92it/s]

1061 models generated
tOBT_FT

     Mean  Median  StdDev     Top1     Top5    Top10  Missing  Duration
0  1.3535  1.0812   0.667  89.7055  98.2256  99.3074   0.0031    0.0364

Processing files: 100%|██████████| 1061/1061 [04:20<00:00,  4.07it/s]

1061 models generated
tABT_FT

     Mean  Median  StdDev    Top1     Top5    Top10  Missing  Duration
0  1.5738  1.3534  0.7794  75.869  97.8243  99.2349   0.0031    0.0276

Processing files: 100%|██████████| 1058/1058 [04:26<00:00,  3.97it/s]

1058 models generated
base_TF

     Mean  Median  StdDev     Top1     Top5    Top10  Missing  Duration
0  1.8256  1.4879  1.1212  70.9131  96.2251  98.6621   0.0032    0.0101

Processing files: 100%|██████████| 1058/1058 [04:29<00:00,  3.92it/s]

1058 models generated
tOBT_TF

     Mean  Median  StdDev     Top1     Top5    Top10  Missing  Duration
0  1.4301  1.0972  0.7393  87.6284  97.8587  99.1271   0.0032    0.0237

Processing files: 100%|██████████| 1058/1058 [04:28<00:00,  3.94it/s]

1058 models generated
tABT_TF

     Mean  Median  StdDev     Top1     Top5    Top10  Missing  Duration
0  1.6807  1.4261  0.8752  73.6173  97.1556  98.9881   0.0032    0.0185

Processing files: 100%|██████████| 1059/1059 [04:17<00:00,  4.12it/s]

1059 models generated
base_TT

    Mean  Median  StdDev     Top1     Top5    Top10  Missing  Duration
0  1.832  1.4962  1.1371  70.6825  96.2079  98.6246   0.0031    0.0196

Processing files: 100%|██████████| 1059/1059 [04:26<00:00,  3.97it/s]

1059 models generated
tOBT_TT

     Mean  Median  StdDev     Top1     Top5   Top10  Missing  Duration
0  1.3132  1.0666  0.5918  91.1623  98.4774  99.339   0.0031    0.0474

Processing files: 100%|██████████| 1059/1059 [04:22<00:00,  4.04it/s]

1059 models generated
tABT_TT

     Mean  Median  StdDev    Top1     Top5    Top10  Missing  Duration
0  1.5293  1.3369  0.6823  77.086  98.1101  99.2896   0.0031    0.0356